node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

tmp/
*.tmp.json

.env
.env.*
!.env.example

dist/
build/
coverage/
.cache/
.parcel-cache/
.vite/

.DS_Store
.idea/
.vscode/
